* {
  box-sizing: border-box;
}

:root {
    
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  font-family: Helvetica;
}

.card {
  height: 60vh;
  width: 25vw;
  max-width: 275px;
  min-width: 250px;
  margin: 20vh auto;
  background-color: #a2cbb6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person,
.rating,
.offer,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person,
.rating,
.offer {
  display: flex;
  flex-direction: column;
}

.person {
  flex-grow: 2.5;
}

.rating,
.contact {
  flex-grow: 1;
}

.offer {
  flex-grow: 1.5;
}
